
<div class="product">
  <h2>{{model.product.name}}</h2>
  <h3>Added on: {{date-helper model.product.date}}</h3>
  {{countdown-timer expireDate=model.product.expireDate product=model.product deleteProduct="delete"}}
  <h4>{{model.product.description}}</h4>
  <img src="{{model.product.image}}" alt="dont know" />
  <h4>Price: ${{model.product.price}}</h4>
  <button class="cart" {{action 'addToCart' model.product}}>Add to Cart</button>
  {{new-review newReview="addReview" product=model.product }}
  {{review-list reviews=model.product.reviews}}

<!-- {{new-review sendReview="saveReview" product=model.product}} -->
</div>
