
<div class="product">
  <h2>{{model.product.name}}</h2>
  <h3>Added on: {{date-helper model.product.date}}</h3>
  <h4>expireDate: {{model.product.expireDate}}</h4>
  {{countdown-timer expireDate=model.product.expireDate}}
  <h4>{{model.product.description}}</h4>
  <img src="{{model.product.image}}" alt="dont know" />
  <h4>Price: ${{model.product.price}}</h4>
  <button class="cart" {{action 'addToCart' model.product}}>Add to Cart</button>
</div>
