<div class="seller">
  <h1>{{model.seller.name}}</h1>
  <img src="{{model.seller.image}}" alt="" />
  <h2>{{model.seller.description}}</h2>
  <h3>{{model.seller.feedback}}</h3>
  <div class="sellerProductList">
    {{product-list products=model.seller.products}}
  </div>
  {{new-product sendProduct="saveProduct" seller=model.seller}}
</div>
