<h1>{{model.seller.name}}</h1>
<h2>{{model.seller.description}}</h2>
<h3>{{model.seller.feedback}}</h3>
{{new-product sendProduct="saveProduct" seller=model.seller}}
{{product-list products=model.seller.products}}
